/*font*/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSans-Light.eot');
	src: url('../fonts/NotoSans-Light.woff2') format('woff2'), url('../fonts/NotoSans-Light.woff') format('woff'), url('../fonts/NotoSans-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSans-Medium.eot');
	src: url('../fonts/NotoSans-Regular.eot');
	src: url('../fonts/NotoSans-Regular.woff2') format('woff2'), url('../fonts/NotoSans-Regular.woff') format('woff'), url('../fonts/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/NotoSans-Medium.eot');
	src: url('../fonts/NotoSans-Medium.woff2') format('woff2'), url('../fonts/NotoSans-Medium.woff') format('woff'), url('../fonts/NotoSans-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSans-Bold.eot');
	src: url('../fonts/NotoSans-Bold.woff2') format('woff2'), url('../fonts/NotoSans-Bold.woff') format('woff'), url('../fonts/NotoSans-Bold.otf') format('opentype');
}


@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/NotoSans-Black.eot');
	src: url('../fonts/NotoSans-Black.woff2') format('woff2'), url('../fonts/NotoSans-Black.woff') format('woff'), url('../fonts/NotoSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GmarketSansLight';
   src: url('../fonts/GmarketSansLight.woff2') format('woff2'),
        url('../fonts/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansMedium';
   src: url('../fonts/GmarketSansMedium.woff2') format('woff2'),
        url('../fonts/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../fonts/GmarketSansMedium.eot');
    src: url('../fonts/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GmarketSansMedium.woff2') format('woff2'),
    url('../fonts/GmarketSansMedium.woff') format('woff'),
    url('../fonts/GmarketSansMedium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'GmarketSansBold';
   src: url('../fonts/GmarketSansBold.woff2') format('woff2'),
        url('../fonts/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

